.userProfile {
height: 400px;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
background-color: #0060c7;
background-image: url(http://www.transparenttextures.com/patterns/white-paperboard.png);
margin-top: 120px;

}

.name {
display: flex;
justify-content: center;
align-items: center;
align-self: flex-start;
margin-top: 0px;


}

.profileImage{
  


}