.userProfile {
height: 400px;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
background-color: #0060c7;
background-image: url(http://www.transparenttextures.com/patterns/white-paperboard.png);
margin-top: 102px;
}

.name {
display: flex;
justify-content: center;
align-items: center;
align-self: flex-start;
margin-top: 0px;
color: white;
}



@media only screen and (min-width: 1024px) {

  body {
    display: flex;
    flex-direction: row;
    
  }
  

  .container{
    height: 90%;
    width: 60%;
    float: right;
    padding-top: 15%;
    padding-right: 5%;
  }
  .userProfile {
    width: 30%;
    height: 20%;
    float: left;
    align-self: center;
    
    

    
    
    
  }
  
}