.navbar {
  
  
  height: 120px;
  background-color:#4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  
  position: fixed;
  top: 0;
 
  
 }

 .logo {
  font-family: 'Bungee';
  
 }