.navbar {
  
  
  height: 120px;
  box-shadow: 2px 4px 10px #AAA;
  background-color:#4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  
 }

 .logo {
  font-family: 'Bungee';
  
 }