.tweetButton {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 1em;
  font-size: medium;
  
}



hr{
  border: 2px solid black;
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.counter {
  display: flex;
  font-family: 'Bungee';
  font-size: large;

  
  
}

.buttonCount{
  display: flex;
  justify-content: space-between;
}

#tweet-text{
  background-color:inherit;
  border: 0em;
  justify-content: left;
  font-weight: bold;
  width: 864px;
  height: 30px;
  font-size: inherit;
  

}
.new-tweet {
  width: 100%;
}

.minus-char{
  color: red;
}

.icons {
  color: #4056A1;
  letter-spacing: 0.5ch;
  padding-left: 10px;
  padding-right: 7px;

}

.time-ago {
  font-size: small;
margin: 0%;
padding-left: 7px;
}

.tweet-info{
  text-align: center;
}

#tweet {
  width: 100%;
  border: 3px solid black;
}

#tweet:hover{
  box-shadow: 10px 5px 5px rgb(39, 138, 195);

}

#tweet:hover .username {
  visibility: visible;
}
#tweet:hover {
  text-shadow: 0 1px 0 black;
  
}


footer {
  display: flex;
  justify-content: space-between;
}

header{
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  
}

.image-name{
  padding: 2px;
  
}

.username{
  visibility: hidden;
  

}




